.services
	.wrapper
		h3.title Services
		h4.title_sub Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
		.services__list.functions
			+ services(servicesArray)
