- var production = false;
- var jQuery = true;
- var jQueryUI = false;

//--------------------------------------------------------------forms
- var default_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod', elem_class:'default_mod'}
- var default_field_hidden = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', elem_class:'default_mod'}
- var default_checkbox = {block_class_mod:'check_1_mod',class_mod:'check_1_mod', elem_class:'check_1_mod'}
- var default_radio = {block_class_mod:'radio_1_mod',class_mod:'radio_1_mod', elem_class:'radio_1_mod'}

//--------------------------------------------------------------forms
- var headerMenuArray = {items:[{title:'News/blog',active:false},{title:'Team and story',active:false},{title:'In the media',active:true},{title:'Careers',active:false},{title:'Online shop',active:false},{title:'Past projects',active:false},{title:'Parners',active:false},{title:'Contact',active:false}],mod:'header_mod'}

//--------------------------------------------------------------menus 
- var smallmenuArray = {item_1:'designer', item_2:'photographer', item_3:'model'}
- var menuArray = {items:[{title:'home'},{title:'about'},{title:'portfolio'},{title: 'services'},{title: 'blog'},{title: 'contact'}],mod:'nav_mod'}
- var menuPortfolio = {item_4:'show all', item_5:'illustration', item_6:'motion graphics', item_7:'photography', item_8:'web design'}

//--------------------------------------------------------------blocks
- var membersArray = [{src:'#', name:'Reiss Somers', position:'Founder', desc:'Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis', fb:'#', tw:'#', in:'#', v:'#'},	{src:'#', name:'CHRIS DOE', position:'Designer', desc:'Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis', fb:'#', tw:'#', in:'#', v:'#'}, {src:'#', name:'JOSH SOMERS', position:'Developer', desc:'Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis', fb:'#', tw:'#', in:'#', v:'#'}, {src:'#', name:'HENRY DOE', position:'Project Manager', desc:'Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis', fb:'#', tw:'#', in:'#', v:'#'}]
